<p>
It was early 2010. I was four years out of college and working in the pharmaceutical industry. I found the corporate life to be very routine and unfulfilling, and it was during that time that I developed a burden to support the church and the body of Christ in a big way… but I had no idea how. <span id="story-shirts">{{ 'shirtsonbanner.jpg' | asset_url}}</span>
</p>

<p>
It was then that God placed in me an idea to start a Christian clothing brand. Why me? I’m not a designer, and I don’t have much business experience. I clearly lacked the credentials to run a clothing brand and I was still busy working full-time. I was torn and struggled with this for over half a year. A part of me genuinely wanted to brainstorm and come up with ways to bring this to life, while another part of me was filled with doubt and hesitation. As I tried to remain patient and trusting in the Lord, I realized why this was where God was leading me. If any kind of success came my way, it’d be much easier to give God the glory than take it for myself. It was after this realization that He placed a second idea in me - "Quit your job."
</p>

<p>
This idea was ten times more intrusive than the first. My job may have been unfulfilling but it was comfortable, and on top of that, I was about to be offered a promotion. Amidst the doubts, confirmation after confirmation came and God made it clear that there was no other choice.
</p>

<p>
It just so happened that the Monday I planned on submitting my two-week notice was the same day I was officially offered a promotion. Before I even had a chance to tell my manager, the HR rep called me down to her office. As I opened the door and walked in, the first thing I saw was a big smile on her face.
</p>

<p>
She sat me down, and slid me an offer across the desk. With much apprehension, I left that piece of paper on the desk, and slid back my two-week notice instead.
</p>

<p>
It was the point of no return.
</p>

<p>
The following week was one of the toughest of my life. It was filled with doubts, sleepless nights and regrets. How would I live with no income? How was I going to find a designer? How am I possibly going to make this work? After the initial intensity of these questions subsided, I felt the kind of peace that only comes from God. I remembered how clearly He spoke through all the confirmations, and trusted that when you jump into deep waters, it’s God who pulls you out.
</p>

<p>
With work and most of my doubts behind me, I now had time to contemplate what God's will was for me. As I reflected on my own experience and how God led me away from my job, I realized that all I really wanted to do was to share a message.
</p>

<p id="mission">
krapyDNA's mission is to share the message that God can use ordinary people to make an extraordinary impact on the world.
</p>

<p>
Ever since I took that leap of faith, doors started to open one by one and I gained confidence - not in myself, but in the power behind me. Silly as it sounds, I knew then my company name had to be krapyDNA. Who would've thought that a meaningless nickname discovered when I spelled my name backwards in middle school would eventually come to mean something so much more? Despite my sinful nature and my “krapy” DNA, God can still use me in big ways, and even ways that are often unknown to me.
</p>

<p>
<span id="story-andy">{{ 'andy.jpg' | asset_url}}</span>
This company is my way of making an extraordinary impact and hopefully it inspires you to do the same.

</p>