<div id="blog" class="clearfix">
  {% paginate blog.articles by settings.pagination_limit %}
  <div class="articles clearfix">
    <div class="main">
<!--
      <div class="more-info clearfix">
        <span class="upper">{{ blog.title }}</span>
      </div>-->
      <div class="details clearfix">
        <h2 class="title georgia">Blog</h2>
      </div>

      {% for article in blog.articles %}
      <div class="article clearfix">
        <div class="content">
          <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
          {{ article.content | strip_html | truncatewords:70 }}
        </div>
      </div> <!-- /.article -->
      {% endfor %}
    </div> <!-- /.main -->
    {% include 'picture_sidebar' %}
  </div> <!-- /.articles -->

  {% include 'pagination' %}
  {% endpaginate %}
</div> <!-- /#blog -->
<!--{% include 'featured-products' %}-->