<div id="index" class="clearfix">

  <div id="home-banner" class="image-banner">
  </div>

  {% if settings.frontpage_collection != "" %}
  <div class="more-info">
    <span class="upper">Featured</span>
  </div>

  <div id="content-table" class="clearfix">
    {% for product in collections[settings.frontpage_collection].products limit:8 %}
    {% include 'product-loop' with settings.frontpage_collection %}
    {% endfor %}
  </div>
  {% endif %}

</div> <!-- /#index -->